body{
font-family:Arial;
text-align:center;
background:#f4f4f4;
}

input{
display:block;
margin:10px auto;
padding:10px;
width:200px;
}

button{
padding:10px 20px;
background:green;
color:white;
border:none;
cursor:pointer;
}